html{
    background-color: rgb(229, 215, 203);
}

main{
    display: table;
    border-radius: 28px;
    font-family: arial;
    background-color: white;
    width: 500px;
    height: 400px;
    padding: 50px;
    margin: 50px 400px 50px 400px;
    border: 1px solid white;
    
}

html, body{
    height: 100%;
}

body{
    display: table-cell;
    vertical-align: middle;
}
  
img {
    display: block;
    margin: auto;
    width: 100%;
    border-radius: 28px;
    background-color: white;
}
.figure{
    background-color: rgb(235, 224, 236);
}

li{
    line-height: 2em;
}

h3{
    color: rgb(172, 121, 121);
}

h4{
    color: rgb(159, 125, 190);
}
table{
    border-collapse: collapse;
    width: 600px;
    border-spacing: 30px;
}
tr{
    border-bottom: 1px solid black;
}
td{
    padding-bottom: 10px;
    padding-top: 10px;
}


@media screen and (max-width: 1103px){
    html{
        background-color: rgb(229, 215, 203);
    }
    
    main{
        display: table;
        border-radius: 28px;
        font-family: arial;
        background-color: white;
        width: 100x;
        height: 200px;
        padding: 50px;
        margin: 50px 200px 50px 200px;
        border: 1px solid white;
}
}


@media screen and (max-width: gpx){
    html{
        background-color: white;
    }
    main{
        display: table;
        border-radius: 0;
        font-family: arial;
        background-color: white;
        width: 100x;
        height: 200px;
        padding: 50px;
        margin-left: 0px;
        border: 1px solid white;
}
}